# Illustrations

Access illustrations using the text surrounding them.

In [6]:
import dhlab.module_update as mu
#mu.update("nbpictures", silent = True)
from nbpictures import iiif_manifest, display_finds, get_urls_from_illustration_data, get_illustration_data_from_book
from IPython.display import HTML, Markdown, display
import streamlit as st
from PIL import Image

import sqlite3
import pandas as pd
import os

In [10]:
def query(db, sql, params=()):
    with sqlite3.connect(db) as con:
        res = con.execute(sql, params).fetchall()
    return res

def pdquery(db, sql, params=()):
    with sqlite3.connect(db) as con:
        res = pd.read_sql_query(sql, con, params=params)
    return res

In [85]:
illustrations_db = "/mnt/disk1/illustrations_bookshelf.db"
illustration_text = "/mnt/disk1/illus_db"

In [8]:
r, d, f = next(os.walk(illustration_text))
illus = [os.path.join(r, x) for x in f]
illus[:5]

['/mnt/disk1/illus_db/illustrations_10000000_11000000_text.db',
 '/mnt/disk1/illus_db/illustrations_13000000_14000000_text.db',
 '/mnt/disk1/illus_db/illustrations_7000000_8000000_text.db',
 '/mnt/disk1/illus_db/illustrations_24000000_25000000_text.db',
 '/mnt/disk1/illus_db/illustrations_22000000_23000000_text.db']

In [180]:
pics = pd.concat([ pdquery(ill, "select page, rank from pictures where text match 'NEAR(Ã¸stgaard lund foto*, 3)' order by rank limit 20") for ill in illus])

In [181]:
pictures = pics.sort_values(by="rank").drop_duplicates().head(20)

In [182]:
pictures[:2]

                         page       rank
0  digibok_2016020907514_0169 -15.049544
2  digibok_2016020907514_0168 -14.303265

In [183]:
res = pdquery(illustrations_db, "select * from illustrations where page = ?", params = (pictures.iloc[0].page,))

In [184]:
illustrations =[dict(i[1])for i in res.iterrows()]

In [185]:
[get_urls_from_illustration_data(i) for i in illustrations]

['https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2016020907514_0169/344,965,316,428/full/0/native.jpg',
 'https://www.nb.no/services/image/resolver/URN:NBN:no-nb_digibok_2016020907514_0169/1685,281,1023,1023/full/0/native.jpg']